extends ./layout.pug

block meta
    title My New Blog

block content
    ul 
    each post in posts
      li 
        a(href=`/posts/${post.id}`) #{post.title}
        span  - by #{post.author.name}
    else
      li No post found.