extends ../layout.pug

block meta
    title Update Tag

block content
    form(id="editTag") 
        label(for="name") Name: 
        input(type="text", name="name", id="name", value=`${tag.name}`)

        input(type="submit", value="Submit")

    form(id="deleteTag")
        input(type="submit", value="Delete Tag")

    script.
        const tagID = JSON.parse("!{JSON.stringify(tag.id)}");

        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('editTag');
            const nameInput = document.getElementById('name');

            const formData = new URLSearchParams();
            formData.set('name', nameInput.value);

            nameInput.addEventListener('input', function() {
                formData.set('name', nameInput.value);
            });

            form.addEventListener('submit', async function(event) {
                event.preventDefault(); // Prevent the default form submission

                await fetch(`/tags/edit/${tagID}`, {
                    method: 'PUT',
                    body: formData.toString(),
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                }).then(data => window.location.href = data.url)
            });

            const deleteForm = document.getElementById('deleteTag');

            deleteForm.addEventListener('submit', async function(event) {
                event.preventDefault(); // Prevent the default form submission

                await fetch(`/tags/edit/${tagID}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(data => window.location.href = data.url)
            });
        });